#root {
  max-width: 100%;
  margin: 0 auto;

  box-sizing: border-box;
}
/*
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
*/
